@import "../../styles/colors.scss";

.inputWrap {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0px;
    transform-origin: 0%;
    transform: scaleX(0);
    transition: transform 400ms ease;
  }

  &:focus-within, &:hover {

    &::after {
      transform: scaleX(1);
    }

    label {
      transform: scale(0.9) translateY(-25px);
    }
  }

  input {
    width: 100%;
    line-height: 24px;
    padding: 16px 40px 16px 16px;
    border-radius: 8px;
    border-width: 2px;
    border-color: $border-color;
    outline: none;

    &:focus {
      border-color: $dark-blue;
    }

    &:not(:placeholder-shown) + label {
      transform: scale(0.9) translateY(-25px);
    }
  }

  label {
    top: 0px;
    position: absolute;
    left: 16px;
    color: $black;
    cursor: text;
    transform-origin: 0%;
    transform: translateY(20px);
    transition: transform 400ms ease;
    color: $label-color;
    font-size: 16px;
  }
}
