@import "../../styles/mixins.scss";

.fullCountry {
  @include pageMixin;
}

.fullCountryContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 30px;

  img {
    width: 50%;

  }
  .asideInformation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
      margin-bottom: 30px;
    }

    .informationWrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .countriesLinksWrapper {
        a {
          text-decoration: none;
          margin: 2px;
          font-weight: 600;
          transition: all 0.3s ease;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .fullCountryContainer {
    flex-direction: column;
    gap: 20px;

    img {
      width: 100%;
    }
  }
}