@import "../../styles/colors.scss";

.searchCountry {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10%;
  width: 100%;
  margin-top: 40px;
  gap: 20px;

  div {
    width: 50%;
  }

}
