@import "../../styles/colors.scss";

.searchCountry {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10%;
  width: 100%;
  margin-top: 40px;
  gap: 20px;

  div {
    width: 50%;
  }

  .options {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .searchCountry {
    flex-direction: column;
    align-items: center;
    gap: 20px;

    div {
      width: 100%;
    }

    .options {
      justify-content: center;
    }
  }
}
