@import "../../styles/colors.scss";

.table {
    display: flex;
    flex-direction: column;
    width: 100%;

    thead {
        font-weight: 600;
    }

    tr {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 20px;

        td, th {
            width: 25%;
            text-align: start;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    tbody {
        tr:nth-child(odd) {
            background-color: $light-blue;
        }

        // td:nth-child(3) {
        //     text-decoration: underline;
        //     cursor: pointer;
        //     color: $dark-blue;
        // }
    }

}

.emptyTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    padding: 20px;
    font-size: 20px;

    span {
        text-align: center;
    }

    svg {
        font-size: 40px;
        margin-bottom: 10px;
        color: $dark-blue;
    }
}